<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Lpaid</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css">

<body>
  <h1 class="ui header">{{displayName}}</h1>
  <div class="ui container">
    <div class="ui segments">
     <div class="ui segment">
        <div>
          <button id="link-btn">Add Account</button>
        </div>
      </div>
      <div class="ui segment">
        <table class="ui basic table">
          <thead>
            <tr>
              <th>Institution</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
          {{#items}}
            <tr>
              <td>{{institution}}</td>
              <td>
                {{#publicToken}}
                  <button class="ui negative button relink" value={{publicToken}}>Needs Relink</button>
                {{/publicToken}}
                {{^publicToken}}
                  <label class="ui green label">Linked</label>
                {{/publicToken}}
                {{#error}}
                  <label class="ui red label">Unexpected Error</label>
                {{/error}}
              </td>
            </tr>
          {{/items}}
          </tbody>
        </table>
      </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
  <script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.js"></script>

  <script>
    function makeHandler(publicToken, onSuccess) {
      let config = {
        apiVersion: 'v2',
        clientName: 'Lpaid',
        env: '{{ PLAID_ENV }}',
        product: ['transactions'],
        key: '{{ PLAID_PUBLIC_KEY }}',
        onSuccess: onSuccess,
      };
      if (publicToken) {
        config.token = publicToken;
      }
      var handler = Plaid.create(config);
      return handler;
    }

    $('#link-btn').on('click', function(e) {
      function onSuccess(public_token) {
        console.log("Sending put");
        $.ajax('/item', {
          method: "PUT",
          data: {
            publicToken: public_token,
            userId: {{userId}}
          }
        }, function() {
          console.log("Resp of put");
        });
      }
      let handler = makeHandler(undefined, onSuccess);
      handler.open();
    });

    function relinkClick(event) {
      let button = event.currentTarget;
      function onSuccess(token, metadata) {
        console.log("Relink succesful! ", token, metadata);
      }
      let handler = makeHandler(button.value, onSuccess);
      handler.open();
    }
    let buttons = document.getElementsByClassName('relink');
    for (let i = 0; i < buttons.length; i++) {
      buttons[i].addEventListener('click', relinkClick);
    }

  </script>
</body>
</html>
