<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Lpaid</title>

{{>head}}

<body> 
  <h1 class="ui header">{{displayName}}</h1>
  <div class="ui container">
    <div class="ui segment">
        <table class="ui celled table">
          <thead>
            <tr>
              <th>Date</th>
              <th>Charge</th>
              <th>Amount</th>
              <th>Account</th>
              <th>Category</th>
              <th>Location</th>
              <th>Updated</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody id="transactions">
          {{#transactions}}
          <tr id='{{id}}'>
              <td>{{dateOf}}</td>
              <td>{{name}}</td>
              <td value={{cents}} {{#drawPositive}} class="positive"{{/drawPositive}}>
                {{amount}}
               </td>
              <td>{{accountName}}</td>
              <td>{{categories}}</td>
              <td>{{location}}</td>
              <td>{{updatedAt}}</td>
              <td>
                <button class="mini ui icon button negative"
                        type="button"
                        onclick="deleteTransaction('{{id}}')"
                        value="{{id}}">
                    <i class="remove icon"></i>
                </button>
                <button class="mini ui icon button"
                        type="button"
                        onclick="findSimilar('{{id}}')">
                    <i class="search icon"></i>
                  </button>
              </td>
            </tr>
          {{/transactions}}
          </tbody>
        </table>
      </div>
  </div> 

  {{> jslibs}}
  <script>
    function deleteTransaction(id) {
      $.ajax('/transaction', {
        method: "DELETE",
        data: {
          id: id
        },
        complete: function() {
          window.location.reload(true);
        }
      });
    }

    function clearMarkedRows() {
      let rows = $("#transactions").children();
      $.each(rows, function(index, row) {
        $(row).removeClass('error');
      });
    }

    function markRow(row) {
      $(row).addClass('error');
    }

    function findSimilar(id) {
      let rows = $("#transactions").children();
      let targetRow = $("#"+id).children();

      let targetName = targetRow[1].textContent;
      let targetAmount = targetRow[2].getAttribute('value');
      let targetAccount = targetRow[3].textContent;

      clearMarkedRows();
      for (let i = 0; i < rows.length; ++i) {
        let matchCount = 0;
        let row = rows[i].children;

        if (targetName == row[1].textContent) {
          matchCount++;
        }

        // the two amounts are within 10 cents
        if (Math.abs(targetAmount - row[2].getAttribute('value')) < 10) {
          matchCount++;
        }

        if (targetAccount == row[3].textContent) {
          matchCount++;
        }

        if (matchCount >= 2) {
          markRow(rows[i]);
        }
      }
    }
  </script>

</body>
</html>
